@media (max-width: 1240px) {
  .container {
    margin: 0 10px;
  }
  .hero__title {
    font-size: 45px;
    line-height: 60px;
  }
}
@media (max-width: 1024px) {
  .me__img-wrapper {
    min-width: 342px;
    min-height: 361px;
  }
  .me__info {
    padding: 15px 40px 15px 20px;
  }
  .for__inner {
    padding: 80px 0;
  }
  .for__list {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .for__item {
    border-top: 2px solid #262626;
    padding: 48px 0;
  }
  .contact__inner {
    padding: 53px 36px;
  }
  .contact__info {
    max-width: 360px;
  }
  .contact__title::after {
    right: -70px;
    width: 60px;
  }
}
@media (max-width: 840px) {
  .hero__title {
    font-size: 38px;
    line-height: 51px;
  }
  .me__info {
    padding: 10px 20px;
  }
}
@media (max-width: 705px) {
  .me__inner {
    background-color: #f7f7f7;
    padding-top: 130px;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .me__img-wrapper {
    max-width: 600px;
    min-width: auto;
    min-height: auto;
    width: 100%;
  }
  .me__info {
    padding: 24px 24px 46px 24px;
    width: 100%;
  }
  .me__title {
    position: absolute;
    left: 24px;
    top: 24px;
  }
}
@media (max-width: 660px) {
  .header__inner {
    padding-top: 65px;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    box-shadow: -1px -1px 11px 2px #fff;
    transform: translateX(1000px);
    transition: all, 0.45s;
  }
  .header__nav.active {
    transform: translateX(0);
  }
  .header__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__item {
    width: 100%;
    margin: 10px 0;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
  }
  .header__link {
    display: block;
    padding: 15px;
    text-align: center;
    transition: color, 0.45s;
  }
  .hero__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 38px;
    line-height: 51px;
  }
  .hero__title-line {
    width: 100%;
    display: inline-block;
    padding-bottom: 17px;
  }
  .hero__title-line:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }
  .for__title {
    margin-left: 0;
    text-align: left;
    max-width: 250px;
  }
  .for__title::before {
    content: none;
  }
  .for__title::after {
    right: -260px;
    top: 40px;
  }
  .services__title {
    margin-left: 0;
  }
  .services__title::after {
    content: "";
  }
  .services__title::after {
    content: none;
  }

  .contact__inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 684px;
    background-image: url(../images/contact-adaptive.png);
    background-size: 100% 100%;
  }
  .contact__info {
    text-align: left;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 490px) {
  .contact__title {
    font-size: 38px;
    lighting-color: 50px;
  }
  .contact__inner {
    padding: 50px 12px;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 0;
    margin: 0 10px;
  }
  .hero__title {
    font-size: 34px;
    line-height: 45px;
  }
  .me__title::after {
    width: 100px;
    right: -110px;
  }
  .contact__title {
    font-size: 34px;
    lighting-color: 46px;
  }
}
